@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

.panah-bawah{
    position: absolute;
    bottom: 10%;
    left: 47%;
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.kotak{
    display: block;
    height: 20px;
}
.main-page{
    display: none;
}
#logo-hiasan{
    height: 80%;
}
#tulisan-postingan{
    text-align: start;
}
@media (max-width: 800px) {
    .panah-bawah{
        position: absolute;
        bottom: -5%;
        left: 40%;
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    #logo-hiasan{
        display: none;
    }

    #tulisan, #guh-tulisan {
      display: none;
    }
    #tulisan-postingan{
        text-align: center;
        font-family: 'Hubballi', cursive;
    }
}