@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

.kotak-post{
    position: relative;
    width:400px;
    height: 380px;
    background-color: white;
    padding: 8px;
    box-shadow: 1px 1px 10px black;
}

.gambar-post{
    width: 100%;
    min-height: 70%;
}

@media screen and (max-width: 460px) {
    .kotak-post {
        max-width: 320px;
        max-height: 380px;
    }
}
