@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

#logo-web{
    font-family: 'Dancing Script', cursive;
    animation: glitch 1s linear infinite;
    font-weight: 600;
    background: -webkit-linear-gradient(#0D0D0D, #FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg);
    }
  }

  #logo-web:before,
  #logo-web:after{
    content: attr(title);
    position: absolute;
    left: 0;
    background: -webkit-linear-gradient(#0D0D0D, #FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  #logo-web:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg);
    }
  }

  #logo-web:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }

  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg);
    }
  }
#icon-burger {
    display: none;
}

.kolom-cari {
    width: 150px;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 5px;
    height: 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


.kolom-cari:focus {
    width: 95%;
    height: 35px;
}

.container.modalBlur > *:not(.kotak-modal){
    -webkit-filter: blur(5px);
}

.modalAnimasi{
    animation: animasiModal 1s;
}

@keyframes animasiModal{
    0%{
        transform: translateY(-40%);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0%);
    }
}
.active{
   text-shadow: #BDBDC7;
   background-color: rgb(107 114 128);
   border-radius: 8px;
}

@media (max-width: 800px) {
    .bungkus-tombol {
        position: fixed;
        bottom: 2%;
        right: 3%;
        z-index: 99999;
    }

    .bungkus-tombol span {
        width: 60px;
        height: 60px;
    }

    #tombol-gelap {
        position: fixed;
        bottom: 15%;
        right: 3%;
        width: 60px;
        height: 60px;
        z-index: 9999;
    }

    #icon-burger {
        position: absolute;
        right: 5%;
        display: block;
    }
    .kolom-cari {
    width: 130px;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 8px;
    height: 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    .kolom-cari:focus {
        width: 87%;
        height: 35px;
    }
}
