.logo-nav{
    font-family: 'Dancing Script', cursive;
    animation: glitch 1s linear infinite;
    font-weight: 600;
    font-size: 40px/* 24px */;
    line-height: 32px/* 32px */;
    background: -webkit-linear-gradient(#0D0D0D, #FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg);
    }
  }

  .logo-nav:before,
  .logo-nav:after{
    content: attr(title);
    position: absolute;
    left: 0;
    background: -webkit-linear-gradient(#545151, #FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .logo-nav:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg);
    }
  }

  .logo-nav:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }

  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg);
    }
  }

.bungkus{
  position:relative;
}

.logo-nav{
  display: none;
}
.menu-item{
  margin: 10px;
  margin-top: 10px;
  display: none;
}
.item{
  display: flex;
  align-items:center;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  color: #353333;
  width: 45%;
  transition: width 1s;
}
.item:hover{
  background-color: #40DF3B;
  color: white;
  width: 90%;
}

.tombol-side{
  position: absolute;
  top: 18%;
  left: 18%;
  background-color: blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display:flex;
  align-items:center;
  justify-content: center;
}

.muter{
  transition: 1s;
  transform: rotate(180deg);
}
.menu-toggle{
  display: block;
}
.logo-toggle{
  display: block;
}

/* DarkMode Toggle */
.gelap-mode{
  position: absolute;
  bottom: 10%;
  right:40%;
  display: none;
}
.tombol-dark{
  display: block;
}
input[type='checkbox']{
  display: none;
}
.slide{
  position: absolute;
  content: "";
  width: 60px;
  height: 25px;
  background-color: gray;
  box-shadow: 1px 1px 5px #828080;
  right: 5%;
  border-radius: 30px;
  cursor: pointer;
}
.slide::before{
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 1px 5px #383636;
  bottom: -5%;
  left: 2%;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}
input[type='checkbox']:checked ~ .slide::before{
  transform: translateX(30px);
}
.switch-icon{
  display: none;
}
.open-switch{
  display: block;
}
.icon-bulan{
  position: absolute;
  right: 22%;
  bottom: 6%;
  font-size: 25px;
}
.icon-sun{
  position: absolute;
  left: 18%;
  bottom: 6%;
  font-size: 27px;
}
.label-mode{
  position: absolute;
  bottom: 13%;
  display:none;
}
.open-label{
  display: block;
}

/* modal animasi */
.kolom-cari {
  width: 150px;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  height: 35px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


.kolom-cari:focus {
  width: 100%;
  height: 35px;
  border: none;
}

.main_section.modalBlur > *:not(.kotak-modal){
  -webkit-filter: blur(3px);
}

.modalAnimasi{
  animation: animasiModal 1s;
}

@keyframes animasiModal{
  0%{
      transform: translateY(-40%);
      opacity: 0.5;
  }
  100%{
      transform: translateY(0%);
  }
}
.active{
 text-shadow: #BDBDC7;
 background-color: rgb(107 114 128);
 border-radius: 8px;
}
@media screen and (min-width: 290px){
  .sidebar{
    position: fixed;
    height: 100%;
    width: 3%;
    z-index: 9999;
    transition: 0.5s;
  }
  .akal{
    position: absolute;
    top: 10px;
    left: 96%;
  }
  .show{
    width: 80%;
  }
  .bungkus-tombol{
    position: absolute;
    height: 64px;
    width: 64px;
    top: 90px;
    left: 96%;
  }
}
@media screen and (min-width: 400px){
  .sidebar{
    position: fixed;
    height: 100%;
    width: 3%;
    z-index: 9999;
    transition: 0.5s;
  }
  .akal{
    position: absolute;
    top: 10px;
    left: 96%;
  }
  .show{
    width: 80%;
  }
  .bungkus-tombol{
    position: absolute;
    height: 64px;
    width: 64px;
    top: 80px;
    left: 96%;
  }
}
@media screen and (min-width: 500px){
  .sidebar{
    position: fixed;
    height: 100%;
    width: 3%;
    z-index: 9999;
    transition: 0.5s;
  }
  .akal{
    position: absolute;
    top: 20px;
    left: 96%;
  }
  .show{
    width: 60%;
  }
  .bungkus-tombol{
    position: absolute;
    height: 64px;
    width: 64px;
    top: 100px;
    left: 96%;
  }
}
@media screen and (min-width: 1024px){
  .sidebar{
    position: fixed;
    height: 100%;
    width: 1%;
    z-index: 9999;
    transition: 0.5s;
  }
  .akal{
    position: absolute;
    top: 10px;
    left: 96%;
  }
  .show{
    width: 30%;
  }
  .bungkus-tombol{
    position: absolute;
    height: 64px;
    width: 64px;
    top: 100px;
    left: 96%;
  }
}
@media screen and (min-width: 1280px){
  .sidebar{
    position: fixed;
    height: 100%;
    width: 1%;
    z-index: 9999;
    transition: 0.5s;
  }
  .akal{
    position: absolute;
    top: 20px;
    left: 96%;
  }
  .show{
    width: 20%;
  }
  .bungkus-tombol{
    position: absolute;
    height: 64px;
    width: 64px;
    top: 100px;
    left: 96%;
  }
}
