@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/* body {
    background-color: rgb(235, 235, 235);
    font-family: 'Montserrat', sans-serif;

} */

.container-postingan {
    width: 100%;
    display: grid;
    grid-template-areas: 'article aside'
                        'article aside';
    grid-template-columns: 0.7fr 0.3fr;
    gap: 30px;

}

.article {
    grid-area: article;
    padding: 30px;
    border-radius: 5px;
    overflow: hidden;

}
/* SideBar */
.aside {
    grid-area: aside;
    font-family: 'Montserrat:600', sans-serif;
}
.aside kartu{
    border-radius: 20px;



    } */
.aside p{
    font-family: 'Montserrat:600', sans-serif;
}

#foto-konten{
    max-width: 100%;
    max-height: 600px
}
@media screen and (max-width: 800px){
    body {
        padding: 0px;
        background-color: rgb(235, 235, 235);

    }
    .container-postingan {
        grid-template-areas: 'article'
                             'aside';
       grid-template-columns: repeat(1, 1fr);
    }
    .article{
        grid-area: article;
        padding: 10px;
        width: 100%;
        overflow: hidden;
    }
    .aside kartu{
        width: auto;
    }
    .diskusi{
        padding: 20px;
    }

    #foto-konten{
    max-width: 100%;
    max-height: 300px;
    }
}
